@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-poppins: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* For Chrome, Safari, and Opera */
::-webkit-scrollbar {
  width: 4px;
}

/* For Firefox */
::-moz-scrollbar {
  width: 4px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #f1f1f1ce;
  border-radius: 10px;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply font-poppins bg-backgroundLight1;
  }
}

@layer utilities {
  .container-shadow {
    @apply shadow-[rgba(13,_38,_76,_0.19)_0px_9px_20px];
  }
  .dark-upper-cont-shadow {
    -webkit-box-shadow: 0px -14px 35px -18px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -14px 35px -18px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -14px 35px -18px rgba(0, 0, 0, 0.75);
  }

  .light-upper-cont-shadow {
    -webkit-box-shadow: 0px -14px 35px -18px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px -14px 35px -18px rgba(0, 0, 0, 0.38);
    box-shadow: 0px -14px 35px -18px rgba(0, 0, 0, 0.38);
  }
}
